In [1]:
import numpy as np
import pandas as pd

from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

from pprint import pprint

In [2]:
## Reading the CSVs
movie_titles_df = pd.read_csv('title_merge_ratings_500000.csv')
user_ratings_df = pd.DataFrame(np.load('User_ratings.npy'))

## convert loaded np array to pd dataframe
user_ratings_df[['userID', 'titleID', 'rating', 'date']] = user_ratings_df[0].str.split(',', expand=True)
user_ratings_df = user_ratings_df.drop(0, axis=1)

In [4]:
movie_titles_df = movie_titles_df.drop(['Unnamed: 0', 'titleType', 'startYear', 'runtimeMinutes', 'genres', 'averageRating', 'numVotes', 'Action', 'Adult', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'Film-Noir', 'Game-Show', 'History', 'Horror', 'Music', 'Musical', 'Mystery', 'News', 'Reality-TV', 'Romance', 'Sci-Fi', 'Short', 'Sport', 'Talk-Show', 'Thriller', 'War', 'Western'], axis=1)

In [5]:
user_ratings_df = user_ratings_df.drop('date', axis=1)

In [6]:
user_ratings_df['userID'].nunique()

1499238

In [8]:
user_ratings_df_trimmed_5 = user_ratings_df.groupby('userID').filter(lambda x : len(x)>4)
user_ratings_df_trimmed_10 = user_ratings_df.groupby('userID').filter(lambda x : len(x)>9)
user_ratings_df_trimmed_15 = user_ratings_df.groupby('userID').filter(lambda x : len(x)>14)
user_ratings_df_trimmed_25 = user_ratings_df.groupby('userID').filter(lambda x : len(x)>24)

In [27]:
user_ratings_df_trimmed_100

            userID    titleID rating
1        ur3174947  tt0118688      3
4        ur3174947  tt0094721      8
5        ur1162550  tt0114891      9
8        ur3174947  tt0120601      8
13       ur1355507  tt0067023      7
...            ...        ...    ...
4669813  ur0581842  tt0068424      4
4669814  ur3174947  tt0096895      8
4669815  ur0581842  tt0107977      6
4669816  ur3174947  tt0103776      8
4669819  ur1162550  tt0325596      7

[1335914 rows x 3 columns]

In [28]:
user_ratings_df_trimmed_100['userID'].nunique()

3188

In [20]:
user_ratings_df_trimmed_25 = user_ratings_df.groupby('userID').filter(lambda x : len(x)>24)
user_ratings_df_trimmed_50 = user_ratings_df.groupby('userID').filter(lambda x : len(x)>49)

In [26]:
user_ratings_df_trimmed_100 = user_ratings_df.groupby('userID').filter(lambda x : len(x)>99)

In [29]:
user_ratings_df_trimmed_5.to_csv('user_ratings_df_trimmed_5.csv')

In [30]:
user_ratings_df_trimmed_10.to_csv('user_ratings_df_trimmed_10.csv')
user_ratings_df_trimmed_15.to_csv('user_ratings_df_trimmed_15.csv')
user_ratings_df_trimmed_25.to_csv('user_ratings_df_trimmed_25.csv')
user_ratings_df_trimmed_50.to_csv('user_ratings_df_trimmed_50.csv')
user_ratings_df_trimmed_100.to_csv('user_ratings_df_trimmed_100.csv')