In [1]:
import numpy as np
import pandas as pd

In [3]:
movie_titles_df_10 = pd.read_csv('title_merge_ratings_10.csv')
movie_titles_df_100 = pd.read_csv('title_merge_ratings_100.csv')
movie_titles_df_1000 = pd.read_csv('title_merge_ratings_1000.csv')
movie_titles_df_10000 = pd.read_csv('title_merge_ratings_10000.csv')
movie_titles_df_100000 = pd.read_csv('title_merge_ratings_100000.csv')
movie_titles_df_500000 = pd.read_csv('title_merge_ratings_500000.csv')

user_ratings_df_5 = pd.read_csv('user_ratings_df_trimmed_5.csv')
user_ratings_df_10 = pd.read_csv('user_ratings_df_trimmed_10.csv')
user_ratings_df_15 = pd.read_csv('user_ratings_df_trimmed_15.csv')
user_ratings_df_25 = pd.read_csv('user_ratings_df_trimmed_25.csv')
user_ratings_df_50 = pd.read_csv('user_ratings_df_trimmed_50.csv')
user_ratings_df_100 = pd.read_csv('user_ratings_df_trimmed_100.csv')

C:\Users\Fitzi\AppData\Local\Temp\ipykernel_12320\1941393381.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  movie_titles_df_10 = pd.read_csv('title_merge_ratings_10.csv')
C:\Users\Fitzi\AppData\Local\Temp\ipykernel_12320\1941393381.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  movie_titles_df_100 = pd.read_csv('title_merge_ratings_100.csv')
C:\Users\Fitzi\AppData\Local\Temp\ipykernel_12320\1941393381.py:3: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  movie_titles_df_1000 = pd.read_csv('title_merge_ratings_1000.csv')

In [7]:
movie_titles_df_10 = movie_titles_df_10.drop(['Unnamed: 0', 'titleType', 'startYear', 'runtimeMinutes', 'genres', 'averageRating', 'numVotes', 'Action', 'Adult', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'Film-Noir', 'Game-Show', 'History', 'Horror', 'Music', 'Musical', 'Mystery', 'News', 'Reality-TV', 'Romance', 'Sci-Fi', 'Short', 'Sport', 'Talk-Show', 'Thriller', 'War', 'Western'], axis=1)
movie_titles_df_100 = movie_titles_df_100.drop(['Unnamed: 0', 'titleType', 'startYear', 'runtimeMinutes', 'genres', 'averageRating', 'numVotes', 'Action', 'Adult', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'Film-Noir', 'Game-Show', 'History', 'Horror', 'Music', 'Musical', 'Mystery', 'News', 'Reality-TV', 'Romance', 'Sci-Fi', 'Short', 'Sport', 'Talk-Show', 'Thriller', 'War', 'Western'], axis=1)
movie_titles_df_1000 = movie_titles_df_1000.drop(['Unnamed: 0', 'titleType', 'startYear', 'runtimeMinutes', 'genres', 'averageRating', 'numVotes', 'Action', 'Adult', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'Film-Noir', 'Game-Show', 'History', 'Horror', 'Music', 'Musical', 'Mystery', 'News', 'Reality-TV', 'Romance', 'Sci-Fi', 'Short', 'Sport', 'Talk-Show', 'Thriller', 'War', 'Western'], axis=1)
movie_titles_df_10000 = movie_titles_df_10000.drop(['Unnamed: 0', 'titleType', 'startYear', 'runtimeMinutes', 'genres', 'averageRating', 'numVotes', 'Action', 'Adult', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'Film-Noir', 'Game-Show', 'History', 'Horror', 'Music', 'Musical', 'Mystery', 'News', 'Reality-TV', 'Romance', 'Sci-Fi', 'Short', 'Sport', 'Talk-Show', 'Thriller', 'War', 'Western'], axis=1)
movie_titles_df_100000 = movie_titles_df_100000.drop(['Unnamed: 0', 'titleType', 'startYear', 'runtimeMinutes', 'genres', 'averageRating', 'numVotes', 'Action', 'Adult', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'Film-Noir', 'Game-Show', 'History', 'Horror', 'Music', 'Musical', 'Mystery', 'News', 'Reality-TV', 'Romance', 'Sci-Fi', 'Short', 'Sport', 'Talk-Show', 'Thriller', 'War', 'Western'], axis=1)
movie_titles_df_500000 = movie_titles_df_500000.drop(['Unnamed: 0', 'titleType', 'startYear', 'runtimeMinutes', 'genres', 'averageRating', 'numVotes', 'Action', 'Adult', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'Film-Noir', 'Game-Show', 'History', 'Horror', 'Music', 'Musical', 'Mystery', 'News', 'Reality-TV', 'Romance', 'Sci-Fi', 'Short', 'Sport', 'Talk-Show', 'Thriller', 'War', 'Western'], axis=1)

user_ratings_df_5 = user_ratings_df_5.drop('Unnamed: 0', axis=1)
user_ratings_df_10 = user_ratings_df_10.drop('Unnamed: 0', axis=1)
user_ratings_df_15 = user_ratings_df_15.drop('Unnamed: 0', axis=1)
user_ratings_df_25 = user_ratings_df_25.drop('Unnamed: 0', axis=1)
user_ratings_df_50 = user_ratings_df_50.drop('Unnamed: 0', axis=1)
user_ratings_df_100 = user_ratings_df_100.drop('Unnamed: 0', axis=1)

In [10]:
movie_titles_df_10.rename(columns={'tconst': 'titleID'}, inplace=True)
movie_titles_df_100.rename(columns={'tconst': 'titleID'}, inplace=True)
movie_titles_df_1000.rename(columns={'tconst': 'titleID'}, inplace=True)
movie_titles_df_10000.rename(columns={'tconst': 'titleID'}, inplace=True)
movie_titles_df_100000.rename(columns={'tconst': 'titleID'}, inplace=True)
movie_titles_df_500000.rename(columns={'tconst': 'titleID'}, inplace=True)

In [13]:
combined_df_mt10_ur5 = pd.merge(movie_titles_df_10, user_ratings_df_5)
combined_df_mt10_ur10 = pd.merge(movie_titles_df_10, user_ratings_df_10)
combined_df_mt10_ur15 = pd.merge(movie_titles_df_10, user_ratings_df_15)
combined_df_mt10_ur25 = pd.merge(movie_titles_df_10, user_ratings_df_25)
combined_df_mt10_ur50 = pd.merge(movie_titles_df_10, user_ratings_df_50)
combined_df_mt10_ur100 = pd.merge(movie_titles_df_10, user_ratings_df_100)

combined_df_mt100_ur5 = pd.merge(movie_titles_df_100, user_ratings_df_5)
combined_df_mt100_ur10 = pd.merge(movie_titles_df_100, user_ratings_df_10)
combined_df_mt100_ur15 = pd.merge(movie_titles_df_100, user_ratings_df_15)
combined_df_mt100_ur25 = pd.merge(movie_titles_df_100, user_ratings_df_25)
combined_df_mt100_ur50 = pd.merge(movie_titles_df_100, user_ratings_df_50)
combined_df_mt100_ur100 = pd.merge(movie_titles_df_100, user_ratings_df_100)

combined_df_mt1000_ur5 = pd.merge(movie_titles_df_1000, user_ratings_df_5)
combined_df_mt1000_ur10 = pd.merge(movie_titles_df_1000, user_ratings_df_10)
combined_df_mt1000_ur15 = pd.merge(movie_titles_df_1000, user_ratings_df_15)
combined_df_mt1000_ur25 = pd.merge(movie_titles_df_1000, user_ratings_df_25)
combined_df_mt1000_ur50 = pd.merge(movie_titles_df_1000, user_ratings_df_50)
combined_df_mt1000_ur100 = pd.merge(movie_titles_df_1000, user_ratings_df_100)

combined_df_mt10000_ur5 = pd.merge(movie_titles_df_10000, user_ratings_df_5)
combined_df_mt10000_ur10 = pd.merge(movie_titles_df_10000, user_ratings_df_10)
combined_df_mt10000_ur15 = pd.merge(movie_titles_df_10000, user_ratings_df_15)
combined_df_mt10000_ur25 = pd.merge(movie_titles_df_10000, user_ratings_df_25)
combined_df_mt10000_ur50 = pd.merge(movie_titles_df_10000, user_ratings_df_50)
combined_df_mt10000_ur100 = pd.merge(movie_titles_df_10000, user_ratings_df_100)

combined_df_mt100000_ur5 = pd.merge(movie_titles_df_100000, user_ratings_df_5)
combined_df_mt100000_ur10 = pd.merge(movie_titles_df_100000, user_ratings_df_10)
combined_df_mt100000_ur15 = pd.merge(movie_titles_df_100000, user_ratings_df_15)
combined_df_mt100000_ur25 = pd.merge(movie_titles_df_100000, user_ratings_df_25)
combined_df_mt100000_ur50 = pd.merge(movie_titles_df_100000, user_ratings_df_50)
combined_df_mt100000_ur100 = pd.merge(movie_titles_df_100000, user_ratings_df_100)

combined_df_mt500000_ur5 = pd.merge(movie_titles_df_500000, user_ratings_df_5)
combined_df_mt500000_ur10 = pd.merge(movie_titles_df_500000, user_ratings_df_10)
combined_df_mt500000_ur15 = pd.merge(movie_titles_df_500000, user_ratings_df_15)
combined_df_mt500000_ur25 = pd.merge(movie_titles_df_500000, user_ratings_df_25)
combined_df_mt500000_ur50 = pd.merge(movie_titles_df_500000, user_ratings_df_50)
combined_df_mt500000_ur100 = pd.merge(movie_titles_df_500000, user_ratings_df_100)

In [14]:
combined_df_mt10_ur5

           titleID                   primaryTitle      userID  rating
0        tt0000147  The Corbett-Fitzsimmons Fight   ur2483625       8
1        tt0000147  The Corbett-Fitzsimmons Fight   ur1234929       8
2        tt0000574    The Story of the Kelly Gang   ur1609079      10
3        tt0000574    The Story of the Kelly Gang  ur13283282      10
4        tt0000574    The Story of the Kelly Gang  ur10334028       9
...            ...                            ...         ...     ...
2211211  tt9916190                      Safeguard  ur90915455       1
2211212  tt9916190                      Safeguard  ur99964320       3
2211213  tt9916190                      Safeguard  ur17087537       4
2211214  tt9916270       Il talento del calabrone   ur0430892       5
2211215  tt9916428            The Secret of China  ur22484170       8

[2211216 rows x 4 columns]

In [17]:
refined_df_mt10_ur5 = combined_df_mt10_ur5.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt10_ur10 = combined_df_mt10_ur10.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt10_ur15 = combined_df_mt10_ur15.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt10_ur25 = combined_df_mt10_ur25.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt10_ur50 = combined_df_mt10_ur50.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt10_ur100 = combined_df_mt10_ur100.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})

refined_df_mt100_ur5 = combined_df_mt100_ur5.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt100_ur10 = combined_df_mt100_ur10.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt100_ur15 = combined_df_mt100_ur15.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt100_ur25 = combined_df_mt100_ur25.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt100_ur50 = combined_df_mt100_ur50.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt100_ur100 = combined_df_mt100_ur100.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})

refined_df_mt1000_ur5 = combined_df_mt1000_ur5.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt1000_ur10 = combined_df_mt1000_ur10.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt1000_ur15 = combined_df_mt1000_ur15.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt1000_ur25 = combined_df_mt1000_ur25.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt1000_ur50 = combined_df_mt1000_ur50.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt1000_ur100 = combined_df_mt1000_ur100.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})

refined_df_mt10000_ur5 = combined_df_mt10000_ur5.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt10000_ur10 = combined_df_mt10000_ur10.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt10000_ur15 = combined_df_mt10000_ur15.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt10000_ur25 = combined_df_mt10000_ur25.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt10000_ur50 = combined_df_mt10000_ur50.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt10000_ur100 = combined_df_mt10000_ur100.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})

refined_df_mt100000_ur5 = combined_df_mt100000_ur5.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt100000_ur10 = combined_df_mt100000_ur10.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt100000_ur15 = combined_df_mt100000_ur15.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt100000_ur25 = combined_df_mt100000_ur25.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt100000_ur50 = combined_df_mt100000_ur50.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt100000_ur100 = combined_df_mt100000_ur100.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})

refined_df_mt500000_ur5 = combined_df_mt500000_ur5.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt500000_ur10 = combined_df_mt500000_ur10.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt500000_ur15 = combined_df_mt500000_ur15.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt500000_ur25 = combined_df_mt500000_ur25.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt500000_ur50 = combined_df_mt500000_ur50.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})
refined_df_mt500000_ur100 = combined_df_mt500000_ur100.groupby(by=['titleID','userID','primaryTitle'], as_index=False).agg({"rating":"mean"})

In [16]:
# refined_df_mt10_ur5.to_csv('refined_df_mt10_ur5.csv')

In [52]:
refined_df_mt500000_ur5['titleID'].nunique(), refined_df_mt500000_ur5['userID'].nunique()

(287, 59748)

In [53]:
refined_df_mt500000_ur10['titleID'].nunique(), refined_df_mt500000_ur10['userID'].nunique()

(287, 31860)

In [54]:
refined_df_mt500000_ur15['titleID'].nunique(), refined_df_mt500000_ur15['userID'].nunique()

(287, 21177)

In [55]:
refined_df_mt500000_ur25['titleID'].nunique(), refined_df_mt500000_ur25['userID'].nunique()

(287, 12400)

In [56]:
refined_df_mt500000_ur50['titleID'].nunique(), refined_df_mt500000_ur50['userID'].nunique()

(287, 5918)

In [57]:
refined_df_mt500000_ur100['titleID'].nunique(), refined_df_mt500000_ur100['userID'].nunique()

(287, 2876)

In [59]:
refined_df_mt10_ur5.to_csv('refined_df_mt10_ur5.csv')
refined_df_mt10_ur10.to_csv('refined_df_mt10_ur10.csv')
refined_df_mt10_ur15.to_csv('refined_df_mt10_ur15.csv')
refined_df_mt10_ur25.to_csv('refined_df_mt10_ur25.csv')
refined_df_mt10_ur50.to_csv('refined_df_mt10_ur50.csv')
refined_df_mt10_ur100.to_csv('refined_df_mt10_ur100.csv')

refined_df_mt100_ur5.to_csv('refined_df_mt100_ur5.csv')
refined_df_mt100_ur10.to_csv('refined_df_mt100_ur10.csv')
refined_df_mt100_ur15.to_csv('refined_df_mt100_ur15.csv')
refined_df_mt100_ur25.to_csv('refined_df_mt100_ur25.csv')
refined_df_mt100_ur50.to_csv('refined_df_mt100_ur50.csv')
refined_df_mt100_ur100.to_csv('refined_df_mt100_ur100.csv')

refined_df_mt1000_ur5.to_csv('refined_df_mt1000_ur5.csv')
refined_df_mt1000_ur10.to_csv('refined_df_mt1000_ur10.csv')
refined_df_mt1000_ur15.to_csv('refined_df_mt1000_ur15.csv')
refined_df_mt1000_ur25.to_csv('refined_df_mt1000_ur25.csv')
refined_df_mt1000_ur50.to_csv('refined_df_mt1000_ur50.csv')
refined_df_mt1000_ur100.to_csv('refined_df_mt1000_ur100.csv')

refined_df_mt10000_ur5.to_csv('refined_df_mt10000_ur5.csv')
refined_df_mt10000_ur10.to_csv('refined_df_mt10000_ur10.csv')
refined_df_mt10000_ur15.to_csv('refined_df_mt10000_ur15.csv')
refined_df_mt10000_ur25.to_csv('refined_df_mt10000_ur25.csv')
refined_df_mt10000_ur50.to_csv('refined_df_mt10000_ur50.csv')
refined_df_mt10000_ur100.to_csv('refined_df_mt10000_ur100.csv')

refined_df_mt100000_ur5.to_csv('refined_df_mt100000_ur5.csv')
refined_df_mt100000_ur10.to_csv('refined_df_mt100000_ur10.csv')
refined_df_mt100000_ur15.to_csv('refined_df_mt100000_ur15.csv')
refined_df_mt100000_ur25.to_csv('refined_df_mt100000_ur25.csv')
refined_df_mt100000_ur50.to_csv('refined_df_mt100000_ur50.csv')
refined_df_mt100000_ur100.to_csv('refined_df_mt100000_ur100.csv')

refined_df_mt500000_ur5.to_csv('refined_df_mt500000_ur5.csv')
refined_df_mt500000_ur10.to_csv('refined_df_mt500000_ur10.csv')
refined_df_mt500000_ur15.to_csv('refined_df_mt500000_ur15.csv')
refined_df_mt500000_ur25.to_csv('refined_df_mt500000_ur25.csv')
refined_df_mt500000_ur50.to_csv('refined_df_mt500000_ur50.csv')
refined_df_mt500000_ur100.to_csv('refined_df_mt500000_ur100.csv')