In [1]:
import numpy as np
import pandas as pd

In [2]:
## Reading the CSVs
movie_titles_df = pd.read_csv('Title_basics.tsv', dtype={"isAdult": "string"}, sep='\t')
movie_ratings_df = pd.read_csv('Title_ratings.tsv', sep='\t')
#user_ratings_df = pd.DataFrame(np.load('User_ratings.npy'))

## convert loaded np array to pd dataframe
#user_ratings_df[['userID', 'titleID', 'rating', 'date']] = user_ratings_df[0].str.split(',', expand=True)
#user_ratings_df = user_ratings_df.drop(0, axis=1)

In [3]:
#movie_titles_df

In [4]:
#movie_ratings_df

In [5]:
movie_titles_df = movie_titles_df.drop(['originalTitle', 'isAdult', 'endYear'], axis=1)

In [6]:
## Dropping all rows where title value is not 'Movie' or 'tvMovie'
only_movie_titles_df = movie_titles_df.drop(movie_titles_df[movie_titles_df.titleType.isin(["tvEpisode", "videoGame", "video", "tvSpecial", "tvShort", "tv", "tvSeries", "tvMiniSeries", "tvPilot", "short"])].index)

In [7]:
## Dropping rows where genre value = \N (no genres)
only_movie_titles_df = only_movie_titles_df[only_movie_titles_df.genres != r'\N']

In [8]:
## Marging movie titles with movie ratings
movie_rating_merge_df = pd.merge(only_movie_titles_df, movie_ratings_df, on="tconst")

In [9]:
## Splitting the strings in 'genre' column into list of strings of the individual genres
movie_rating_merge_df["genres"] = movie_rating_merge_df.genres.apply(lambda x: x.split(","))

In [10]:
## Converting list to pd.Series before stack() breaks the pd.Series into a multi-index Series
genres = movie_rating_merge_df.genres.apply(pd.Series).stack()

## Creating a dummy multi-index dataframe where each genre is a column
genres = pd.get_dummies(genres)

## Collapse the dataframe
genres = genres.groupby(level=0).sum()

In [11]:
## merging the dummy dataframe with the movie_rating_merge_df dataframe
movie_rating_merge_df = pd.concat([movie_rating_merge_df, genres], axis=1)

In [12]:
## Creating new dataframes with minimum rating count breakpoints to be exported as seperate CSV files
title_merge_ratings_10 = movie_rating_merge_df[movie_rating_merge_df['numVotes'] > 10]
title_merge_ratings_100 = movie_rating_merge_df[movie_rating_merge_df['numVotes'] > 100]
title_merge_ratings_1000 = movie_rating_merge_df[movie_rating_merge_df['numVotes'] > 1000]
title_merge_ratings_10000 = movie_rating_merge_df[movie_rating_merge_df['numVotes'] > 10000]
title_merge_ratings_100000 = movie_rating_merge_df[movie_rating_merge_df['numVotes'] > 100000]
title_merge_ratings_500000 = movie_rating_merge_df[movie_rating_merge_df['numVotes'] > 500000]

In [13]:
title_merge_ratings_500000

,tconst,titleType,primaryTitle,startYear,runtimeMinutes,genres,averageRating,numVotes,Action,Adult,...,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
12252,tt0034583,movie,Casablanca,1942,102,"[Drama, Romance, War]",8.5,578015,0,0,...,0,0,1,0,0,0,0,0,1,0
22712,tt0050083,movie,12 Angry Men,1957,96,"[Crime, Drama]",9.0,801467,0,0,...,0,0,0,0,0,0,0,0,0,0
25784,tt0054215,movie,Psycho,1960,109,"[Horror, Mystery, Thriller]",8.5,679732,0,0,...,0,0,0,0,0,0,0,1,0,0
30145,tt0060196,movie,"The Good, the Bad and the Ugly",1966,161,"[Adventure, Western]",8.8,769762,0,0,...,0,0,0,0,0,0,0,0,0,1
31798,tt0062622,movie,2001: A Space Odyssey,1968,149,"[Adventure, Sci-Fi]",8.3,677625,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306015,tt6966692,movie,Green Book,2018,130,"[Biography, Comedy, Drama]",8.2,506565,0,0,...,0,0,0,0,0,0,0,0,0,0
307352,tt7131622,movie,Once Upon a Time in Hollywood,2019,161,"[Comedy, Drama]",7.6,761699,0,0,...,0,0,0,0,0,0,0,0,0,0
308733,tt7286456,movie,Joker,2019,122,"[Crime, Drama, Thriller]",8.4,1321768,0,0,...,0,0,0,0,0,0,0,1,0,0
318986,tt8579674,movie,1917,2019,119,"[Action, Drama, War]",8.2,607576,1,0,...,0,0,0,0,0,0,0,0,1,0
321465,tt8946378,movie,Knives Out,2019,130,"[Comedy, Crime, Drama]",7.9,713136,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
## Exporting the datasets as csv
#title_merge_ratings_10.to_csv('title_merge_ratings_10.csv')
#title_merge_ratings_100.to_csv('title_merge_ratings_100.csv')
#title_merge_ratings_1000.to_csv('title_merge_ratings_1000.csv')
#title_merge_ratings_10000.to_csv('title_merge_ratings_10000.csv')
#title_merge_ratings_100000.to_csv('title_merge_ratings_100000.csv')
#title_merge_ratings_500000.to_csv('title_merge_ratings_500000.csv')

In [16]:
# for col in title_merge_ratings_100000.columns:
#     print(col)

In [22]:
title_merge_ratings_100000

,tconst,titleType,primaryTitle,startYear,runtimeMinutes,genres,averageRating,numVotes,Action,Adult,...,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
1427,tt0012349,movie,The Kid,1921,68,"[Comedy, Drama, Family]",8.3,128131,0,0,...,0,0,0,0,0,0,0,0,0,0
2226,tt0015864,movie,The Gold Rush,1925,95,"[Adventure, Comedy, Drama]",8.1,112861,0,0,...,0,0,0,0,0,0,0,0,0,0
2611,tt0017136,movie,Metropolis,1927,153,"[Drama, Sci-Fi]",8.3,176697,0,0,...,0,0,0,1,0,0,0,0,0,0
4384,tt0021749,movie,City Lights,1931,87,"[Comedy, Drama, Romance]",8.5,186936,0,0,...,0,0,1,0,0,0,0,0,0,0
4574,tt0022100,movie,M,1931,117,"[Crime, Mystery, Thriller]",8.3,160220,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325705,tt9639470,movie,Last Night in Soho,2021,116,"[Drama, Horror, Mystery]",7.0,145516,0,0,...,0,0,0,0,0,0,0,0,0,0
326442,tt9764362,movie,The Menu,2022,107,"[Comedy, Horror, Thriller]",7.2,261809,0,0,...,0,0,0,0,0,0,0,1,0,0
326486,tt9770150,movie,Nomadland,2020,107,[Drama],7.3,166713,0,0,...,0,0,0,0,0,0,0,0,0,0
326517,tt9777666,movie,The Tomorrow War,2021,138,"[Action, Adventure, Drama]",6.5,210492,1,0,...,0,0,0,0,0,0,0,0,0,0
327200,tt9893250,movie,I Care a Lot,2020,118,"[Comedy, Crime, Drama]",6.3,136072,0,0,...,0,0,0,0,0,0,0,0,0,0